<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.moderntime.dao.MainDAO">

	<select id="getAllBoard" resultType="com.care.moderntime.dto.BoardDTO">
		select id, name, title from board where id &lt;&gt; 2;
	</select>
	
	<select id="findPostOfBoard" parameterType="int" resultType="com.care.moderntime.dto.MainPostListDTO">
		select id, title, create_date from post where board_id=#{boardId} order by id desc limit 4;
	</select>
	
	<select id="findHotPost" resultType="com.care.moderntime.dto.MainPostListDTO">
		select id, title, create_date from post where like_count > 10 order by id desc limit 4;
	</select>
	
	<select id="findPopularPost" resultType="com.care.moderntime.dto.AsidePostListDTO">
		select p.id, p.title, content, create_date, like_count, board_id, b.name as board_id, b.title as board_title, like_count, 
		(select count(*) from comment c where c.post_id=p.id) as comment_count
		 from post p join board b on p.board_id=b.id order by id limit 2;
	</select>
	
	<select id="findEvaluation" resultType="com.care.moderntime.dto.AsideEvalDTO">
		 select id, score, comment, 
		 (select name from lecture where e.lecture_lecture_id=lecture.lecture_id) as lectureName 
		 from evaluation e order by id desc limit 4
	</select>
	
	<select id="CheckAuth" parameterType="String" resultType="int">
		select is_certificate from user where id=#{userId}
	
	</select>
   
   
</mapper>
