<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.moderntime.message.dao.ChatDAO">
	<select id="findMessageList" resultType="com.care.moderntime.message.dto.ChatListDTO">
		select r.room_id, c.sender_nick, c.message, c.create_date from room r
		join (select * from chat order by create_date desc limit 1) c on r.room_id=c.room_id
		where r.part_user &lt;&gt; 'jiyoung1329';
	</select>
		

</mapper>