<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.moderntime.admin.dao.INoticeDAO">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.care.moderntime.admin.dto.NoticeDTO">
		INSERT INTO notice (title, content, create_date) VALUES(#{title}, #{content}, NOW())
	</insert>
	<select id="list" resultType="com.care.moderntime.admin.dto.NoticeDTO">
		SELECT * FROM notice ORDER BY id DESC limit #{startNum}, #{count}
	</select>
	<select id="noticeView" resultType="com.care.moderntime.admin.dto.NoticeDTO">
		SELECT * FROM notice WHERE id=${id}
	</select>
	
	<update id="noticeUpdate" parameterType="com.care.moderntime.admin.dto.NoticeDTO">
		update notice set title=#{title}, content=#{content} where id=#{id}
	</update>
	
	<delete id="noticeDelete">
	DELETE FROM notice WHERE id=${id}
	</delete>
	
	<select id="noticeCount" resultType="int">
		SELECT count(*) FROM notice
	</select>
	
	<insert id="savePicture" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.care.moderntime.admin.dto.PictureDTO">
		INSERT INTO picture (picture, comment) VALUES(#{picture}, #{comment})
	</insert>
	
	<select id="getNoticePictures" parameterType="int" resultType="com.care.moderntime.admin.dto.PictureDTO">
		select * from picture where id in (select picture_id from notice_pictrue where notice_id=#{noticeId})
	</select>
	
</mapper>