<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.moderntime.user.dao.CertificationDAO">

	<insert id="saveCertification" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.care.moderntime.user.dto.CertificationDTO">
		INSERT INTO certification(type, picture, user_id) VALUES(#{type}, #{picture}, #{userId})
	</insert>
	
	<select id="checkCertification" parameterType="String" resultType="int">
		select count(*) from certification where user_id=#{userId}
	
	</select>
	
	<select id="isCertificate" parameterType="String">
		select is_certificate from user where id=${id}
	</select>
	
	
</mapper>