<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.moderntime.bookstore.dao.BookStoreChatDAO">
	<select id="getMyBookChatList" resultType="com.care.moderntime.bookstore.dto.BookChatListDTO">
		select room_id, message, create_date from chat 
		where room_id in (select room_id from room where type='chat' and part_user='jiyoung1329') 
		and id in (select max(id) from chat group by room_id);
	</select>
	
	
</mapper>