<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.moderntime.bookstore.dao.IBookStoreDAO">

<!-- 	<select id="findList" resultType="String"> -->
<!-- 		SELECT name FROM lecture WHERE name like CONCAT('%', #{keyword}, '%') OR teacher like CONCAT('%', #{keyword}, '%') -->
<!-- 	</select> -->

	<insert id="bookSell" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.care.moderntime.bookstore.dto.BookStoreDTO">
		INSERT INTO bookpost(title,author,publisher,publication_date,price,comment,create_date,is_sold,user_id) 
		VALUES(#{title},#{author},#{publisher},#{publication_date},#{price},#{comment},NOW(),0,#{user_id})
	</insert>
	
	<insert id="insertPicture">
		INSERT INTO book_picture VALUES(#{bookPicId},#{bookId})
	</insert>
	
	<select id="loadPicture" resultType="com.care.moderntime.bookstore.dto.BookPictureDTO">
		SELECT * FROM picture WHERE id in (select picture_id from book_picture where bookpost_id=#{id})
	</select>
	
	<select id="pictureUrl" parameterType="int" resultType="String">
		SELECT picture FROM picture WHERE id=${i}
	</select>
	<select id="bookSellList" resultType="com.care.moderntime.bookstore.dto.BookStoreDTO">
		select b.*, (select p.picture from picture p where p.id = (select picture_id from book_picture where b.id=bookpost_id limit 1)) as picture 
		from bookpost b ORDER BY is_sold, id DESC;
	</select>
	
	<select id="bookSellListSearch" resultType="com.care.moderntime.bookstore.dto.BookStoreDTO">
		select b.*, (select p.picture from picture p where p.id = (select picture_id from book_picture where b.id=bookpost_id limit 1)) as picture 
		from bookpost b WHERE title like CONCAT('%', #{keyword}, '%') ORDER BY is_sold, id DESC
	</select>
	
	<select id="bookSellListMy" resultType="com.care.moderntime.bookstore.dto.BookStoreDTO">
		select b.*, (select p.picture from picture p where p.id = (select picture_id from book_picture where b.id=bookpost_id limit 1)) as picture 
		from bookpost b WHERE user_id like CONCAT('%', #{userId}, '%') ORDER BY is_sold, id DESC
	</select>
	
	<select id="bookstoreview" resultType="com.care.moderntime.bookstore.dto.BookStoreDTO">
		SELECT * FROM bookpost WHERE id=${id}
	</select>
	
	<update id="soldOut">
		UPDATE bookpost SET is_sold=1 WHERE id=${id}
	</update>
	
	<update id="priceChange">
		UPDATE bookpost SET price = #{price} WHERE id=#{id}
	</update>
	
	<update id="commentChange">
		UPDATE bookpost SET comment = #{comment} WHERE id=#{id}
	</update>

	<select id="getReceiver" parameterType="int" resultType="String">
		select user_id from bookpost where id=#{id}
	</select>	
</mapper>