body {
	background-color: #fff;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, .05)
}

#container.calculator div.section {
	padding: 0 8px
}

#container.calculator div.section div.chart, #container.calculator div.section div.menu
	{
	border: 1px solid #ededed;
	border-radius: 12px
}

#container.calculator div.section div.chart article.overview {
	display: flex;
	justify-content: space-between;
	min-height: 52px;
	margin-bottom: 32px
}

#container.calculator div.section div.chart article.overview div.column h4
	{
	margin-bottom: 2px;
	color: #444;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px
}

#container.calculator div.section div.chart article.overview div.column p
	{
	display: inline-block
}

#container.calculator div.section div.chart article.overview div.column p.value
	{
	color: #c62917;
	font-size: 26px;
	font-weight: bold;
	line-height: 32px
}

#container.calculator div.section div.chart article.overview div.column p.total
	{
	margin-left: 4px;
	color: #a6a6a6;
	font-size: 12px;
	line-height: 18px
}

#container.calculator div.section div.chart article.overview div.column p.total span.button
	{
	cursor: pointer;
	display: inline-block;
	margin-left: 2px;
	padding: 0 6px;
	color: #a6a6a6;
	font-size: 12px;
	line-height: 18px;
	background-color: #f2f2f2;
	border-radius: 9px
}

#container.calculator div.section div.chart article.overview div.column.acquisition p.total
	{
/* 	cursor: pointer; */
	padding-right: 15px;
/* 	background: rgba(0, 0, 0, 0) */
/* 		url("/images/container.calculator.setting.png") no-repeat right center */
}

#container.calculator div.section div.chart article.semester div.series div.legend
	{
	overflow: hidden
}

#container.calculator div.section div.chart article.semester div.series div.legend table
	{
	float: right
}

#container.calculator div.section div.chart article.semester div.series div.legend table td.legendColorBox
	{
	padding-left: 8px
}

#container.calculator div.section div.chart article.semester div.series div.legend table td.legendColorBox>div
	{
	width: 4px;
	height: 4px;
	padding: 0 !important;
	border-radius: 50%;
	overflow: hidden
}

#container.calculator div.section div.chart article.semester div.series div.legend table td.legendLabel span
	{
	font-size: 10px;
	line-height: 14px
}

#container.calculator div.section div.chart article.semester div.series div.plot
	{
	height: 129px
}

#container.calculator div.section div.chart article.semester div.series div.plot div.flot-x-axis div
	{
	white-space: nowrap
}

#container.calculator div.section div.chart article.semester div.series div.plot div.flot-y-axis div
	{
	letter-spacing: 0
}

#container.calculator div.section div.chart article.semester ul.ratioplot li
	{
	display: flex;
	align-items: center
}

#container.calculator div.section div.chart article.semester ul.ratioplot li span.grade
	{
	flex-basis: 32px;
	color: #444;
	font-size: 12px;
	line-height: 20px
}

#container.calculator div.section div.chart article.semester ul.ratioplot li div.ratiowrapper
	{
	flex: auto;
	position: relative
}

#container.calculator div.section div.chart article.semester ul.ratioplot li div.ratiowrapper span.ratiotext
	{
	position: absolute;
	top: -200%;
	margin-left: 8px;
	font-size: 12px;
	line-height: 20px
}

#container.calculator div.section div.chart article.semester ul.ratioplot li::after
	{
	content: "";
	flex-basis: 32px
}

#container.calculator div.section div.chart article.semester ul.ratioplot li:first-of-type
	{
	margin-top: 32px
}

#container.calculator div.section div.chart.empty article.overview {
	margin-bottom: 0
}

#container.calculator div.section div.chart.empty article.semester {
	display: none
}

#container.calculator div.section div.menu {
	position: relative;
	margin-top: 8px;
	overflow-x: scroll;
	overflow-y: hidden
}

#container.calculator div.section div.menu::-webkit-scrollbar {
	display: none
}

#container.calculator div.section div.menu ol {
	height: auto;
	white-space: nowrap
}

#container.calculator div.section div.menu ol li {
	cursor: pointer;
	display: inline-block;
	margin-right: 16px;
	box-sizing: border-box
}

#container.calculator div.section div.menu ol li a {
	display: block;
	margin: 16px 0;
	color: #a6a6a6;
	font-size: 14px;
	line-height: 22px;
	border-bottom: 2px solid rgba(0, 0, 0, 0)
}

#container.calculator div.section div.menu ol li.active a {
	color: #292929;
	font-weight: bold;
	border-bottom-color: #444
}

#container.calculator div.section table.subjects {
	width: 100%;
	margin-top: 24px;
	border: 1px solid #ededed;
	border-spacing: 0;
	border-radius: 12px
}

#container.calculator div.section table.subjects caption {
	position: relative;
	min-height: 50px;
	margin: 0 16px 12px;
	text-align: left
}

#container.calculator div.section table.subjects caption h3 {
	margin-bottom: 2px;
	color: #292929;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px
}

#container.calculator div.section table.subjects caption dl.information
	{
	display: flex
}

#container.calculator div.section table.subjects caption dl.information dt,
	#container.calculator div.section table.subjects caption dl.information dd
	{
	font-size: 12px;
	line-height: 18px
}

#container.calculator div.section table.subjects caption dl.information dt
	{
	margin-right: 2px;
	color: #444
}

#container.calculator div.section table.subjects caption dl.information dd
	{
	margin-right: 8px;
	color: #c62917;
	font-weight: bold
}

#container.calculator div.section table.subjects caption a.import {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 0;
	display: none;
	width: auto;
	padding: 0 8px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	border-radius: 15px;
	background-color: #c62917
}

#container.calculator div.section table.subjects thead tr, #container.calculator div.section table.subjects tbody tr,
	#container.calculator div.section table.subjects tfoot tr {
	height: 40px
}

#container.calculator div.section table.subjects thead tr th:not(:first-of-type),
	#container.calculator div.section table.subjects thead tr td:not(:first-of-type),
	#container.calculator div.section table.subjects tbody tr th:not(:first-of-type),
	#container.calculator div.section table.subjects tbody tr td:not(:first-of-type),
	#container.calculator div.section table.subjects tfoot tr th:not(:first-of-type),
	#container.calculator div.section table.subjects tfoot tr td:not(:first-of-type)
	{
	width: 60px;
	text-align: center;
	border-left: 1px solid #ededed
}

#container.calculator div.section table.subjects thead tr td, #container.calculator div.section table.subjects tbody tr td,
	#container.calculator div.section table.subjects tfoot tr td {
	border-top: 1px solid #ededed
}

#container.calculator div.section table.subjects thead tr th {
	color: #a6a6a6;
	font-size: 14px;
	font-weight: normal
}

#container.calculator div.section table.subjects thead tr th:first-of-type
	{
	padding-left: 12px;
	text-align: left
}

#container.calculator div.section table.subjects tbody tr td input,
	#container.calculator div.section table.subjects tbody tr td select {
	width: 100%;
	height: 40px;
	padding-left: 12px;
	color: #444;
	font-size: 14px;
	border: none;
	box-sizing: border-box
}

#container.calculator div.section table.subjects tbody tr td input:focus,
	#container.calculator div.section table.subjects tbody tr td select:focus
	{
	outline: none
}

#container.calculator div.section table.subjects tbody tr td input[name=name],
	#container.calculator div.section table.subjects tbody tr td input[name=credit]
	{
	background-color: #f9f9f9
}

#container.calculator div.section table.subjects tbody tr td select[name=grade]
	{
	background-color: rgba(0, 0, 0, 0)
}

#container.calculator div.section table.subjects tbody tr td input[name=major]
	{
	display: none
}

#container.calculator div.section table.subjects tbody tr td input[name=major]
	~span {
	display: block;
	width: 14px;
	height: 14px;
	margin: 0 auto;
	background-image: url("/images/calculator.checkbox.unchecked.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat
}

#container.calculator div.section table.subjects tbody tr td input[name=major]:checked
	~span {
	background-image: url("/images/calculator.checkbox.checked.png")
}

#container.calculator div.section table.subjects tfoot tr td {
	padding: 0 16px
}

#container.calculator div.section table.subjects tfoot tr td a {
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 40px
}

#container.calculator div.section table.subjects tfoot tr td a.new {
	color: #c62917
}

#container.calculator div.section table.subjects tfoot tr td a.reset {
	margin-left: 16px;
	color: #a6a6a6
}

div.plottooltip {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0
}

body.appwebview #container.calculator {
	padding-top: 48px
}

body.appwebview #container.calculator div.section div.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background-color: #fff;
	border: none;
	z-index: 300
}

body.appwebview #container.calculator div.section div.menu ol {
	padding-left: 24px
}

body.appwebview #container.calculator div.section div.menu ol li a {
	margin: 8px 0 16px
}

body.appwebview #container.calculator div.section div.menu ol li:last-of-type
	{
	margin-right: 24px
}

@media only screen and (min-width: 641px) {
	#container.calculator div.section div.chart {
		padding: 24px
	}
	#container.calculator div.section div.chart article.overview {
		width: 50%
	}
	#container.calculator div.section div.chart article.semester {
		display: flex
	}
	#container.calculator div.section div.chart article.semester div.series
		{
		flex-basis: 50%;
		margin-right: 48px
	}
	#container.calculator div.section div.chart article.semester ul.ratioplot
		{
		flex: auto
	}
	#container.calculator div.section div.menu ol {
		padding-left: 24px
	}
	#container.calculator div.section div.menu ol li:last-of-type {
		margin-right: 24px
	}
}

@media only screen and (max-width: 640px) {
	#container.calculator div.section div.chart {
		padding: 24px 16px
	}
	#container.calculator div.section div.menu ol {
		padding-left: 16px
	}
	#container.calculator div.section div.menu ol li:last-of-type {
		margin-right: 16px
	}
}